{% extends 'base.html.twig' %}

{% block title %}Edit Price{% endblock %}

{% block body %}
    <ul class="collection with-header blue-grey-text" id="form_booking_price">
        <li class="collapsible-header" style="border-bottom:0px;">
            <div class="col s12">
                <h5 class="section-title blue-text"><i class="material-icons">today</i>
                    Edit Price
                    <div class="right right-align right-aligned">
                        <a href="javascript:history.back()">
                            <i class="material-icons small grey-text">close</i>
                        </a>
                    </div>
                </h5>
            </div>
        </li>
        {{ include('price/_form.html.twig') }}
    </ul>
    {{ include('price/_delete_form.html.twig') }}
{% endblock %}
