{% extends 'base.html.twig' %}

{% block title %}New Price{% endblock %}

{% block body %}
    <h1>Create new Price</h1>

    {{ include('price/_form.html.twig') }}

    <a href="{{ path('price_index') }}">back to list</a>
{% endblock %}
