{% extends 'base.html.twig' %}

{% block title %}New Guest{% endblock %}

{% block body %}
    <ul class="collection with-header blue-grey-text booking_guest" id="form_booking_guest">
        <li class="collapsible-header" style="border-bottom:0px;">
            <div class="col s12">
                <h5 class="section-title blue-text"><i class="material-icons">today</i>
                    New Guest
                    <div class="right right-align right-aligned">
                        <a href="javascript:history.back()">
                            <i class="material-icons small grey-text">close</i>
                        </a>
                    </div>
                </h5>
            </div>
        </li>
    {{ include('guest/_form.html.twig') }}
    </ul>
{% endblock %}
