{% extends 'base.html.twig' %}

{% block title %}New Damage{% endblock %}

{% block body %}
    <h1>Create new Damage</h1>

    {{ include('damage/_form.html.twig') }}

    <a href="{{ path('damage_index') }}">back to list</a>
{% endblock %}
