{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s12">
            <div id="bookingMonthContainer"></div>
        </div>
    </div>

    <div class="row">
        <div class="col s4 ">
            <div id="roomsChartContainer" class="white"></div>
        </div>
        <div class="col s4 ">
            <div id="demoContainer" class="white"></div>
        </div>
        <div class="col s4 ">
            <div id="seconddemoContainer" class="white"></div>
        </div>
    </div>
{% endblock %}
