{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s12 m6">
            <div class="card white">
                <div class="card-content white-text">
                    <div id="bookingMonthContainer" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>


        <div class="col s12 m6">
            <div class="card white">
                <div class="card-content white-text">
                    <div id="roomsChartContainer" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
    </div>




    {#<div class="example-wrapper">#}
        {#<h1>Hello {{ controller_name }}! ✅</h1>#}

        {#This friendly message is coming from:#}
        {#<ul>#}
        {#<li>Your controller at <code><a href="{{ '/Applications/MAMP/htdocs/booking/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>#}
        {#<li>Your template at <code><a href="{{ '/Applications/MAMP/htdocs/booking/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></li>#}
        {#</ul>#}
    {#</div>#}
{% endblock %}
