{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <table id="dataTable" class="responsive-table highlight display hidden">
        <thead>
        <tr>
            <th>Name</th>
            <th>House</th>
            <th>Floor</th>
            <th>Beds</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
