{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}

    <div class="card floating-container">
        <div class="card-content">
            <div class="card-title blue-text">
                <i class="material-icons">today</i> Add new room
                <div class="right right-align right-aligned">
                    <a href="javascript:history.back()">
                        <i class="material-icons small grey-text">close</i>
                    </a>
                </div>
            </div>
            <br>
            {{ include('room/_form.html.twig') }}

        </div>
    </div>
    <br>
{% endblock %}
