{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    {#<a class="waves-effect waves-light btn" href="{{ path('room_index') }}">back to list</a>#}
    {#<h3 class="section-title teal-text">Create new Room</h3>#}
    {#<p> </p>#}
    {{ include('room/_form.html.twig') }}




{% endblock %}
