{% extends 'base.html.twig' %}

{% block title %}Edit Parking{% endblock %}

{% block body %}
    <div class="row">
        <div class="col"><a class="waves-effect waves-light btn" href="{{ path('parking_index') }}">back to list</a>
        </div>
        <div class="col">{{ include('parking/_delete_form.html.twig') }}</div>
    </div>

    <div class="card floating-container">
        <div class="card-content">
            <div class="card-title blue-text">
                <i class="material-icons">today</i> Edit Parking
                <div class="right right-align right-aligned">
                    <a href="javascript:history.back()">
                        <i class="material-icons small grey-text">close</i>
                    </a>
                </div>
            </div>
            <br>
            {{ include('parking/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
