{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
    <a class="waves-effect waves-light btn" href="{{ path('booking_index') }}">back to list</a>
    <h3 class="section-title teal-text">Create new Booking</h3>

    {{ include('booking/_form.html.twig') }}

{% endblock %}
