/*@import 'material-icons/iconfont/material-icons.scss';*/
@import "~material-icons/iconfont/material-icons.css";
html{
    background-color: white;
    height: 100%;
}
table{
    background-color:#fff;
    margin-bottom:20px;
    border:20px solid #fff;
}
select{
    display:block;
}
