/*@import 'material-icons/iconfont/material-icons.scss';*/

html{
    background-color: white;
    height: 100%;
}
table{
    background-color:#fff;
    margin-bottom:20px;
    border:20px solid #fff;
}
select{
    display:block;
}

.sitebar{
    height:100%;
    border:1px solid red;
}
