
    <li class="collection-item lighten-5 grey-text">
        <div class="row">
            <div class="col s12 m12">
                {{ form_start(depositeForm) }}
                {{ form_widget(depositeForm) }}
                <input type="hidden" id="deposite_booking" name="deposite[booking]" value="">
                <button class="btn waves-effect waves-light large light-blue z-depth-0" type="submit" name="action">
                    {{ 'deposite.button.save'|trans }}
                    <i class="material-icons right">send</i>
                </button>
                {{ form_end(depositeForm) }}
            </div>

        </div>
    </li>
